
.p {
  margin: 1.3rem;
  font-size: 1.2rem;
}

.header-class {
  font-family: "Arial";
  font-size: 1.8vh;
  text-align: left;
}

.caret-class {
  margin-right: 0.3rem;
}

.collapse-style {
  background-color: ghostwhite;
}

.button-text {
  font-size: 1.5vh;
  vertical-align: middle;
}

.small-size-screen {
  display: none;
}

.from-1000 {
  display: none;
}

.grey-coloring {
  background-color: rgb(234 225 200);
}

.apply-button {
  padding: 3px;
}

.font-size {
  font-size: 1.2rem;
}


@media only screen and (max-width: 1000px) {
  .small-size-screen {
    display: block;
  }

  .not-display-small {
    display: none;
  }

  .button-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .from-1000 {
    display: inline-block;
  }

  .till-1000 {
    display: none;
  }

  .font-size {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 400px) {
.col-05{
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
}

.cursor-class {
  cursor: pointer;
}



.caret {
  vertical-align: center;
  horiz-align: center;
  max-width: 0.8rem;
  max-height: 0.8rem;
}

.caret-up {
  vertical-align: center;
  horiz-align: center;
  max-width: 0.8rem;
  max-height: 0.8rem;
}

.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.pagination-div {
  margin-top: 10px;
}

.edit-delete {
  margin-right: 5px;
}

.btn-color {
  background-color: rgb(157 210 181);
}

.m {
  margin-right: 1rem;
}

