<div class="container">
  <div class="accordion">
    <div class="card">
      <div class="bg-table card-header row accordion-style d-flex">
        <div (click)="collapseAbout()" class="col-1">
          <img class="mb-0 header-class text-dark" src="../../assets/images/caret.png">

        </div>
        <div (click)="collapseAbout()" class="col-3">
          <h5 class="mb-0 header-class text-dark text-truncate">
            {{job.organization}}
          </h5>
        </div>
        <div (click)="collapseAbout()" class="col-3">
          <h5 class="mb-0 header-class text-dark text-truncate">
            {{job.title}}
          </h5>
        </div>
        <div (click)="collapseAbout()" class="col-3">
          <h5 class="mb-0 header-class text-dark text-truncate">
            {{job.city}}
          </h5>
        </div>
        <div class="col-5 col-md-2 container">
          <button class="btn btn-success btn-block btn-group-sm bg-btn"><h1 class="button-text">Register</h1></button>
        </div>
      </div>

      <div class="collapse collapse-style card bg-collapse" [ngClass]="{ 'show': collapseOpen }">
        <div class="card-body">
          <p class="container display-6">Description: </p>
          <p class="p">{{job.description}}</p>
          <p class="container display-6">Contact person:</p>
          <p class="p">{{job.contactPerson}}</p>
          <p class="p">{{job.email}}</p>
          <p class="p">{{job.phoneNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
