.p{
  margin: 20px;
}
.header-class{
  font-family: "Courier New";
  font-size: 3vh;
}

.accordion-style{
  background-color: ghostwhite;
}
.button-text{
  font-size: 2.5vh;
  vertical-align: middle;
}
.small-size-screen{
  display: none;
}

@media only screen and (max-width: 770px){
  .small-size-screen{
    display: inline-block;
  }
  .not-display-small{
    display: none;
  }

}

.cursor-class{
  cursor: pointer;
}

