<!--<th>{{job.title}}</th>-->
<!--<th>{{job.jobName}}</th>-->
<!--<th>{{job.city}}</th>-->

<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header row">
        <div (click)="collapseAbout()" class="col-3">
        <h4  class="mb-0 ">
            {{job.organization}}
        </h4>
        </div>
        <div (click)="collapseAbout()" class="col-3">
          <h5 class="mb-0">
              {{job.title}}
          </h5>
        </div>
        <div (click)="collapseAbout()" class="col-3">
          <h5 class="mb-0">
              {{job.city}}
          </h5>
        </div>
        <div class="col-3">
          <button class="btn btn-success">Register</button>
          <button class="btn btn-warning text-white" routerLink="/edit-job">Edit</button>
        </div>
      </div>

      <div  class="collapse collapse-animation" [ngClass]="{ 'show': collapseOpen }">
        <div class="card-body">
          <p class="container display-6">Description: </p>
          <p class="p">{{job.description}}</p>
          <p class="container display-6">Contact person:</p>
          <p class="p">{{job.contactPerson}}</p>
          <p class="p">{{job.email}}</p>
          <p class="p">{{job.phoneNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
