.p{
  margin: 20px;
}
.header-class{
  font-family: "Courier New";
  font-size: 3vh;
}

.accordion-style{
  background-color: ghostwhite;
}
.button-text{
  font-size: 2.5vh;
  vertical-align: middle;
}

