<div class="container cursor-class">
  <div class="accordion">
    <div class="card">
      <div class="bg-table card-header row grey-coloring d-flex from-400 " (click)="collapseAbout()">
        <div class="col-05">
          <img class="mb-0 header-class text-dark caret" src="../../assets/images/caret-down-small-dark.svg"
               *ngIf="!collapseOpen" alt="caret.png">
          <img class="mb-0 header-class text-dark caret-up" src="../../assets/images/caret_up.png"
               *ngIf="collapseOpen" alt="caret.png">
        </div>

        <div class="col-4 till-1000">
        <h5 #target class="mb-0 header-class text-dark style-on-small-screen">
          {{deed.title}}
        </h5>
      </div>

        <div class="col-7 from-1000 container">
          <h5 #target class="mb-0 header-class text-dark style-on-small-screen">
            {{deed.title}}
          </h5>
        </div>

        <div class="col-25 not-display-small">
          <h5 class="mb-0 header-class text-dark ">
            {{deed.date}}
          </h5>
        </div>
        <div class="col-2 not-display-small">
          <h5 class="mb-0 header-class text-dark ">
            {{deed.city}}
          </h5>
        </div>
        <div class="col-2 not-display-small">
          <h5 class="mb-0 header-class text-dark text-center">
            {{deed.currentPeople}}/{{deed.maxPeople}}
          </h5>
        </div>
        <div class="col-1 till-1000">
          <button class="btn btn-danger apply-button" *ngIf="authenticationService.currentUserObject!==undefined && isUserInArray(authenticationService.currentUserObject, deed.participatingUsers)" (click)="removeParticipation(deed.id)">Leave</button>
          <button class="btn btn-green btn-success bg-btn apply-button"  *ngIf="authenticationService.currentUserObject!==undefined && !isUserInArray(authenticationService.currentUserObject, deed.participatingUsers)" (click)="participateInADeed(deed.id)" >Apply</button>
        </div>
        <div class="col-4 from-1000 container">
          <button class="btn btn-danger apply-button" *ngIf="authenticationService.currentUserObject!==undefined && isUserInArray(authenticationService.currentUserObject, deed.participatingUsers)" (click)="removeParticipation(deed.id)">Leave</button>
          <button class="btn btn-green btn-success bg-btn apply-button"  *ngIf="authenticationService.currentUserObject!==undefined && !isUserInArray(authenticationService.currentUserObject, deed.participatingUsers)" (click)="participateInADeed(deed.id)" >Apply</button>
        </div>
      </div>

      <div class=" collapse collapse-style card collapse-style" [ngClass]="{ 'show': collapseOpen }">
        <div class="card-body">
          <p *ngIf="deed.organization" class=" display-6">Organization: </p>
          <p class="p">{{deed.organization}}</p>
          <p class=" display-6 small-size-screen">City: </p>
          <p class="p small-size-screen">{{deed.city}}</p>
          <p *ngIf="deed.description" class=" display-6">Description: </p>
          <p class="p">{{deed.description}}</p>
          <p class=" display-6 small-size-screen">People: </p>
          <p class="p small-size-screen">{{deed.currentPeople}}/{{deed.maxPeople}}</p>

          <p class=" display-6">Contact person:</p>
          <p class="p">{{deed.contactPerson}}</p>
          <p class="p">{{deed.email}}</p>
          <p class="p">{{deed.phoneNumber}}</p>
          <p class="p">{{deed.tags}}</p>

          <p class="display-6" *ngIf="deed.participatingUsers.length!=0">Participacts: </p>
          <div *ngFor="let user of deed.participatingUsers">
            <p class="p font-weight-bold">{{user.name}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
