.jumboclass{
  height: 3rem;
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.padding-class{
  margin-bottom: 1rem;
}
.text-danger{
   padding-top: 0px;
   border-top: 0px;
 }

.register-border{
  border-top: 20px;
}
.h1-padding{
  padding-bottom: 40px;
}
.validation-message{
  padding-left: 16%;

}

.form-group {
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .container {
    max-width: 294px;
  }

  .new-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .new-col-pswrd {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-8-new {
    padding-top: 4%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (max-width: 487px) {
  .container {
    max-width: 440px;
  }

  .new-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .new-col-pswrd {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-8-new {
    padding-top: 4%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.form-padding{
  padding-left: 1rem;
}
