<div class="jumbotron title-image">
  <h1 class="text-center text-white display-2">Register a deed</h1>
</div>


<div class="container">

  <form class="form-padding" [formGroup]="registerDeedForm" (ngSubmit)="submitForm()  ">

    <h1 class="h1-padding">Deed registration</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title*</label>
      <div class="col-sm-7">
        <input formControlName="title" class="form-control" placeholder="Save the squirrels" maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('title').touched">
      <div *ngIf="registerDeedForm.get('title').hasError('required')" class="alert-danger alert">
        Title field is required
      </div>
      <div *ngIf="registerDeedForm.get('title').hasError('minlength')" class="alert-danger alert">
        Title is too short
      </div>

      <div *ngIf="registerDeedForm.get('title').hasError('maxlength')" class="alert-danger alert">
        Title is too long
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Organization:</label>
      <div class="col-sm-7">
        <input formControlName="organization" class="form-control" placeholder="National Squirrel University"
               maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('organization').touched">
      <div *ngIf="registerDeedForm.get('organization').hasError('minlength')" class="alert-danger alert">
        Organization field is too short
      </div>

      <div *ngIf="registerDeedForm.get('organization').hasError('maxlength')" class="alert-danger alert">
        Organization field is too long
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City*</label>
      <div class="col-sm-7">
        <input formControlName="city" class="form-control" placeholder="Vilnius" maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('city').touched">
      <div *ngIf="registerDeedForm.get('city').hasError('required')" class="alert-danger alert">
        City field is required
      </div>
      <div *ngIf="registerDeedForm.get('city').hasError('minlength')" class="alert-danger alert">
        City field is too short
      </div>

      <div *ngIf="registerDeedForm.get('city').hasError('maxlength')" class="alert-danger alert">
        City field is too long
      </div>
      <div *ngIf="registerDeedForm.get('city').hasError('pattern')" class="alert-danger alert">
        City must be only letters
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Date*</label>
      <div class="col-sm-7">
        <input type="date" formControlName="date" class="form-control" placeholder="2010-10-10">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('date').touched">
      <div *ngIf="registerDeedForm.get('date').hasError('required')" class="alert-danger alert">
        Date field is required
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Max People</label>
      <div class="col-sm-7">
        <input formControlName="maxPeople" class="form-control" maxlength="8">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('maxPeople').touched">
      <div *ngIf="registerDeedForm.get('maxPeople').hasError('pattern')" class="alert-danger alert">
        Maximum value of people must be only numbers
      </div>
    </div>

    <h1 class="h1-padding">Contacts</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email*</label>
      <div class="col-sm-7">
        <input formControlName="email" class="form-control" placeholder="mcsquirrel@gmail.com" maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('email').touched">
      <div *ngIf="registerDeedForm.get('email').hasError('required')" class="alert-danger alert">
        Email field is required
      </div>
      <div *ngIf="registerDeedForm.get('email').hasError('email')" class="alert-danger alert">
        Valid email is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Contact person*</label>
      <div class="col-sm-7">
        <input formControlName="contactPerson" class="form-control" placeholder="Name Surname" maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('contactPerson').touched">
      <div *ngIf="registerDeedForm.get('contactPerson').hasError('required')" class="alert-danger alert">
        Contact person field is required
      </div>
      <div *ngIf="registerDeedForm.get('contactPerson').hasError(['name','pattern'])">
        Valid name is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone number*</label>
      <div class="col-sm-7">
        <input formControlName="phoneNumber" class="form-control" placeholder="+37060000000" maxLength="50">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('phoneNumber').touched">
      <div *ngIf="registerDeedForm.get('phoneNumber').hasError('required')" class="alert-danger alert">
        Phone number is required
      </div>

      <div *ngIf="registerDeedForm.get('phoneNumber').hasError('pattern')"{{}}  class="alert-danger alert">
        Phone number must be valid
      </div>
    </div>

    <h1 class="h1-padding">Description</h1>


    <div class="form-group row">
      <textarea formControlName="description" #incidentDescription class="form-control col-md-9"
                id="exampleFormControlTextarea1" rows="4" placeholder="Describe what is this project about"
                maxLength="500"></textarea>
      <small class="col-md char-count">
        {{500 - incidentDescription.value.length}}/500
      </small>
    </div>

    <div *ngIf="registerDeedForm.get('description').touched">
      <div *ngIf="registerDeedForm.get('description').hasError('maxlength')" class="alert-danger alert">
        Description field is too long
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tags:</label>
      <div class="col-sm-7">
        <input formControlName="tags" class="form-control" placeholder="#happydays" maxLength="100">
      </div>
    </div>
    <div *ngIf="registerDeedForm.get('tags').touched">
      <div *ngIf="registerDeedForm.get('tags').hasError('maxlength')" class="alert-danger alert">
        Tags field is too long
      </div>
      <div *ngIf="registerDeedForm.get('tags').hasError('pattern')" class="alert-danger alert">
        Hashtag has to start with # symbol
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-7">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
    <div *ngIf="httpStatus" class="alert-danger alert">
      <p [innerText]="httpStatus"></p>
    </div>
  </form>

</div>
