.form-padding {
  padding-top: 10%;
}

.h1-padding {
  padding-bottom: 3%;
}

#exampleFormControlTextarea1 {
  max-width: 74%;
}

.title-image {
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.char-count{
 color: grey;
}

.jumboclass{
  height: 3rem;
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.padding-class{
  margin-bottom: 2rem;
}
