.title-image {
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.jumboclass{
  height: 3rem;
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.padding-class{
  margin-bottom: 1rem;
}

