.logo {
  width: 25%;
  height: 25%;
}

.logo-class {
  text-align: center;
}

.home-image {
  height: 200px;
}

.about {
  text-align: center;
}

.footer-copyright {
  margin-top: 5%;
  bottom:0;
  margin-bottom: 2%;
}


/*.router-outlet-class {*/
/*height: 70%;*/
/*}*/
