.logo {
  width: 10%;
  height: 10%;
}

.logo-class {
  text-align: center;
}

.home-image {
  height: 200px;
}

.about {
  text-align: center;
}



/*.router-outlet-class {*/
  /*height: 70%;*/
/*}*/
