<!--The content below is only a placeholder and can be replaced.-->
<body>

<div class="container logo-class">
  <img class="logo" alt="Company Logo" src='assets/h-gooddeeds.png'>
</div>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse show" id="navbarColor01" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="good-deeds">Good deeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="success-stories">Succes stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Gallery</a>
        </li>
      </ul>

    </div>
  </nav>

</header>

<div class="router-outlet-class">
  <router-outlet></router-outlet>
</div>

<footer>
  <div
    class="footer-copyright text-center py-3 container">© 2019 Copyright: JJRV
  </div>
</footer>

</body>






