.logo {
  width: 25%;
  height: 25%;
}

.logo-class {
  text-align: center;
}

.home-image {
  height: 200px;
}

.about {
  text-align: center;
}

.footer-copyright {
  margin-top: 5%;
  bottom:0;
  margin-bottom: 2%;
}

.nav-active {
  font-weight: 400;
}
.dropdown-style{
  width: 10%;
}
.a-style{
  width: 8vh;
  background-color: white;
}
