<div class="container component-header"><h1>Good deeds lives here:</h1></div>

<div class="container button-class-div">
  <button class="btn btn-secondary" routerLink="/register-job">Register job</button>


</div>

<div class="container">
  <div class="row">
    <div class="col-3"><h5>Organisation</h5></div>
    <div class="col-3"><h5>Title</h5></div>
    <div class="col-3"><h5>City</h5></div>
    <div class="col-3"></div>
  </div>
</div>

<div app-good-deeds-details [job]="job" *ngFor="let job of jobs"></div>



