<!--<div class="container component-header"><h1>Good deeds lives here:</h1></div>-->

<div class="jumbotron title-image">
  <h1 class="text-center text-white display-2">A list of Good deeds</h1>
</div>

<div class="container button-class-div">
  <button class="btn btn-danger" routerLink="/register-job">Register job</button>


</div>

<div class="container">
  <div class="card bg-warning">
    <div class="row wider text-white">
      <div class="col-3"><h2 class="display-5">Organisation</h2></div>
      <div class="col-3"><h2 class="display-5">Title</h2></div>
      <div class="col-3"><h2 class="display-5">City</h2></div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

<div app-good-deeds-details [job]="job" *ngFor="let job of jobs"></div>



