
.component-header{
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  padding-top: 3%;

}

.button-class-div{
  padding-bottom: 2%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.title-image {
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.card{
  min-height: 3rem;
  vertical-align: middle;

}

.good-deeds-h1{
  font-size:1.5vw;
}

.button-text{
  font-size: 2.5vh;
  vertical-align: middle;
  margin: 0px;
}
.style-class{
  display: none;
}

.grey-coloring{
  background-color: rgba(0,0,0,0.02);
}


@media only screen and (max-width: 770px){
  .style-class{
    display: inline-block;
    align-content: center;
    margin-top: 7%;
  }
  .header-class{
    display: none;
  }
  .small-size{
    display: inline-block;
  }
}
