.home-image {
  max-width: 100%;
}

.component-header{
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  padding-top: 3%;

}

.landing-image {
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}
.home-padding{
  padding-right: 60px;
}


