.home-image {
  max-width: 100%;
}

.component-header{
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  padding-top: 3%;

}

.landing-image {
  background: url('../../assets/images/vintage-rainbow-color-badge.png');
  background-size: cover;
}

.home-padding{
  padding-right: 30px;
  padding-left: 30px;
}

.carousel-style{
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

.carousel-caption-edit {
  position: absolute;
  right: 15%;
  bottom: 12rem;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-text{
  font-size: 5rem;
  padding-bottom: 1rem;
  word-break: normal;
}

.carousel-text-secondary{
  font-size: 2rem;
}
