<div class="container component-header">
  <h1>About project</h1>

  <div class="container" align="center">
    <img class="home-image" alt="Company Logo" src='assets/pexels-photo-1080722.jpeg'>
  </div>

</div>

<div class="container">

  <h2>How?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum. Integer auctor lorem lorem, egestas vulputate metus pulvinar at. In maximus accumsan congue. Cras feugiat nulla eu nisl ultrices, vel dignissim ligula ultricies. Vestibulum interdum risus ante, ac ultricies quam facilisis pulvinar. Etiam viverra metus et leo sagittis euismod. Quisque luctus sem vel lorem mattis, vitae fringilla elit lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    Integer aliquam vehicula laoreet. Maecenas scelerisque pulvinar pharetra. Morbi feugiat felis ut fringilla lacinia. Praesent vitae arcu et arcu ornare accumsan sit amet sed sem. Aliquam erat volutpat. Vivamus varius maximus nunc sit amet ultricies. Proin sapien ante, pharetra dictum eleifend et, suscipit a mauris. Morbi lacinia malesuada velit, dapibus tincidunt ante congue accumsan.

    Donec rhoncus posuere neque, ut pharetra justo viverra sed. Ut vitae felis vitae arcu mollis fermentum sit amet eu ligula. Praesent at turpis et elit convallis volutpat. Vivamus dapibus turpis nec neque congue finibus. Praesent vitae vehicula lacus. Maecenas posuere pulvinar fermentum. Proin imperdiet ligula sodales nisl laoreet lobortis. Nunc fermentum lobortis metus vitae sodales. Proin id aliquet libero, quis blandit tellus. Aenean vel sem nec nisl mollis posuere in et augue. Aliquam ornare, metus fringilla faucibus eleifend, enim augue laoreet purus, vitae ultricies magna elit nec nisl. Cras consectetur dolor pulvinar metus imperdiet, vitae luctus leo aliquam. Quisque posuere urna et aliquam imperdiet. Pellentesque imperdiet risus quis malesuada imperdiet. Integer at volutpat est, in convallis turpis.</p>
  <p class="lead">
  </p>

  <h2>Where?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum. Integer auctor lorem lorem, egestas vulputate metus pulvinar at. In maximus accumsan congue. Cras feugiat nulla eu nisl ultrices, vel dignissim ligula ultricies. Vestibulum interdum risus ante, ac ultricies quam facilisis pulvinar. Etiam viverra metus et leo sagittis euismod. Quisque luctus sem vel lorem mattis, vitae fringilla elit lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    Integer aliquam vehicula laoreet. Maecenas scelerisque pulvinar pharetra. Morbi feugiat felis ut fringilla lacinia. Praesent vitae arcu et arcu ornare accumsan sit amet sed sem. Aliquam erat volutpat. Vivamus varius maximus nunc sit amet ultricies. Proin sapien ante, pharetra dictum eleifend et, suscipit a mauris. Morbi lacinia malesuada velit, dapibus tincidunt ante congue accumsan.
  </p>
  <p class="lead">
  </p>

  <h2>When?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum. Integer auctor lorem lorem, egestas vulputate metus pulvinar at. In maximus accumsan congue. Cras feugiat nulla eu nisl ultrices, vel dignissim ligula ultricies. Vestibulum interdum risus ante, ac ultricies quam facilisis pulvinar. Etiam viverra metus et leo sagittis euismod. Quisque luctus sem vel lorem mattis, vitae fringilla elit lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    Integer aliquam vehicula laoreet. Maecenas scelerisque pulvinar pharetra. Morbi feugiat felis ut fringilla lacinia. Praesent vitae arcu et arcu ornare accumsan sit amet sed sem. Aliquam erat volutpat. Vivamus varius maximus nunc sit amet ultricies. Proin sapien ante, pharetra dictum eleifend et, suscipit a mauris. Morbi lacinia malesuada velit, dapibus tincidunt ante congue accumsan.
  </p>
  <p class="lead">
  </p>

</div>
