
<div *ngIf="!isListReady" class="d-flex justify-content-center text-danger" role="status">
  <div class="spinner-border" role="status"></div>
</div>
<div *ngIf="isListReady">
  <ngb-carousel interval="5000">

    <div *ngFor="let image of images; let i = index" class="slider">
      <ng-template ngbSlide>
        <img [src]="image"  [alt]="image" class="carousel-style">
        <div class="carousel-caption-edit" [(ngModel)]="deeds[i]" ngDefaultControl>
          <p class="carousel-text">{{deeds[i].title}}</p>
          <p class="carousel-text-secondary">{{deeds[i].date}}</p>
        </div>
      </ng-template>
    </div>

  </ngb-carousel>
</div>

<div class="container d-flex align-content-center">
  <div class="row">
  <div class="col-12 col-md-4 home-padding">
    <h1 class="text-center"><img class="m-3" src="../../assets/images/icons8-ask-question-80.png"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
    </p>
  </div>

  <div class="col-12 col-md-4 home-padding">
    <h1 class="text-center"><img class="m-3" src="../../assets/images/icons8-place-marker-64.png"></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit qu
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.</p>
  </div>

  <div class="col-12 col-md-4 home-padding">
    <h1 class="text-center"><img class="m-3" src="../../assets/images/icons8-calendar-80.png"></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quis velit quis vestibulum.
    </p>
  </div>
  </div>
</div>
