<div class="jumboclass padding-class"></div>

<!--<div *ngIf="isListReady" class="container button-style d-flex justify-content-end">-->
<!--<button class="btn btn-orange" routerLink="/register-deed"><h5>Add a deed</h5></button>-->
<!--</div>-->
<!--<div *ngIf="!isListReady" class="d-flex justify-content-center text-danger" role="status">-->
<!--<div class="spinner-border" role="status"></div>-->
<!--</div>-->
<div class="container">
  <div class="container">
    <div class="d-flex justify-content-start"><h1 class="display-4">Profile</h1></div>
  </div>
  <div class=" container row">
    <div class=" row  col-4">
      <div class=" row col-6">
        <div class="image-padding col-3"><img src="../../assets/images/user.png"></div>
        <div class="col-9"> <p class="display-6">{{userName}}</p></div>
      </div>
    </div>
    <div class=" row  col-4">
      <div class=" row col-6">
        <div class="image-padding col-3"><img src="../../assets/images/phone-book.png"></div>
        <div class="col-9"><p class="display-6">{{userPhone}}</p></div>
      </div>
    </div>

    <div class="container  col-4">
      <div class="row col-6">
        <div class="image-padding col-3"><img src="../../assets/images/arroba.png"></div>
        <div class="col-9"><p class="display-6">{{userEmail}}</p></div>
      </div>
    </div>
  </div>
</div>
<div class="container title-margin"><h1 class="display-7">Deeds I created:</h1></div>
<div class="container">
  <div class="card bg-table-header container">
    <div class="row wider text-white">
      <div class="col-05"></div>

      <div class="col-4" (click)="sortByTitleO()"><h1 class="display-6 header-class small-size">Title
        <img *ngIf="isTitleSortedO" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isTitleSortedO" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-down.png"></h1>
      </div>

      <div class="col-25" (click)="sortByDateO()"><h1 class="display-6 header-class">Date
        <img *ngIf="isDateSortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isDateSortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByCityO()"><h1 class="display-6 header-class city-margin">City
        <img *ngIf="isCitySortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isCitySortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByPeopleO()"><h1 class="display-6 header-class ">People
        <img *ngIf="isPeopleSortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isPeopleSortedO" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

<app-good-deeds-details [deed]="deed" [isOrganized]="true"
                        *ngFor="let deed of organizedDeeds | paginate: {itemsPerPage: itemsPerPageO, currentPage: currentPageO, id:'O'}">
</app-good-deeds-details>
<div class="container align-content-end pagination-div spacing">
  <div class="d-flex justify-content-end">
    <div>
      <pagination-controls *ngIf="isListReady" class="pagination-style"
                           (pageChange)="currentPageO =$event" id="O"></pagination-controls>
    </div>
    <div>
      <select *ngIf="isListReady" (change)="showItems($event.target.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>


<div class="container title-margin"><h1 class="display-7">Deeds I participate:</h1></div>
<div class="container">
  <div class="card bg-table-header container">
    <div class="row wider text-white">
      <div class="col-05"></div>

      <div class="col-4" (click)="sortByTitleP()"><h1 class="display-6 header-class small-size">Title
        <img *ngIf="isTitleSortedP" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isTitleSortedP" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-down.png"></h1>
      </div>

      <div class="col-25" (click)="sortByDateP()"><h1 class="display-6 header-class">Date
        <img *ngIf="isDateSortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isDateSortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByCityP()"><h1 class="display-6 header-class city-margin">City
        <img *ngIf="isCitySortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isCitySortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByPeopleP()"><h1 class="display-6 header-class ">People
        <img *ngIf="isPeopleSortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isPeopleSortedP" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

<app-good-deeds-details [deed]="deed"
                        *ngFor="let deed of participationDeeds | paginate: {itemsPerPage: itemsPerPageP, currentPage: currentPageP, id: 'P'}">
</app-good-deeds-details>
<div class="container align-content-end pagination-div spacing">
  <div class="d-flex justify-content-end">
    <div>
      <pagination-controls *ngIf="isListReady" class="pagination-style"
                           (pageChange)="currentPageP =$event" id="P"></pagination-controls>
    </div>
    <div>
      <select *ngIf="isListReady" (change)="showItems($event.target.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>
