<div class="jumboclass padding-class"></div>

<!--<div *ngIf="isListReady" class="container button-style d-flex justify-content-end">-->
<!--<button class="btn btn-orange" routerLink="/register-deed"><h5>Add a deed</h5></button>-->
<!--</div>-->
<!--<div *ngIf="!isListReady" class="d-flex justify-content-center text-danger" role="status">-->
<!--<div class="spinner-border" role="status"></div>-->
<!--</div>-->
<div class="container">
  <div class="d-flex justify-content-start"><h1 class="display-4">Profile</h1></div>
</div>
<div class=" container d-flex justify-content-center">
<div class="container icon-margin d-flex justify-content-start">
  <div class="image-padding"><img src="../../assets/images/user.png"></div>
  <div><p class = "display-6">{{userName}}</p></div>
</div>
<div class="container icon-margin">
  <div class="container icon-margin d-flex justify-content-start padding-icon">
    <div class="image-padding"><img src="../../assets/images/phone-book.png"></div>
    <div><p class="display-6">{{userPhone}}</p></div>
  </div>
</div>

<div class="container icon-margin">
  <div class="container icon-margin d-flex justify-content-start padding-icon">
    <div class="image-padding"><img src="../../assets/images/arroba.png"></div>
    <div><p class="display-6">{{userEmail}}</p></div>
  </div>
</div>
</div>

<div class="container title-margin"><h1 class="display-7">Deeds I created:</h1></div>
<div class="container">
  <div class="card bg-table-header container">
    <div class="row wider text-white">
      <div class="col-05"></div>

      <div class="col-4" (click)="sortByTitle()"><h1 class="display-6 header-class small-size">Title
        <img *ngIf="isTitleSorted" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isTitleSorted" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-down.png"></h1>
      </div>

      <div class="col-25" (click)="sortByDate()"><h1 class="display-6 header-class">Date
        <img *ngIf="isDateSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isDateSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByCity()"><h1 class="display-6 header-class city-margin">City
        <img *ngIf="isCitySorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isCitySorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByPeople()"><h1 class="display-6 header-class ">People
        <img *ngIf="isPeopleSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isPeopleSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

<app-good-deeds-details [deed]="deed"
*ngFor="let deed of organizedDeedTable.deeds | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
</app-good-deeds-details>
<div class="container align-content-end pagination-div spacing">
  <div class="d-flex justify-content-end">
    <div>
      <pagination-controls *ngIf="isListReady" class="pagination-style"
                           (pageChange)="currentPage =$event"></pagination-controls>
    </div>
    <div>
      <select *ngIf="isListReady" (change)="showItems($event.target.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>


<div class="container title-margin"><h1 class="display-7">Deeds I participate:</h1></div>
<div class="container">
  <div class="card bg-table-header container">
    <div class="row wider text-white">
      <div class="col-05"></div>

      <div class="col-4" (click)="sortByTitle()"><h1 class="display-6 header-class small-size">Title
        <img *ngIf="isTitleSorted" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isTitleSorted" class="mb-0 header-class text-dark caret small-size"
             src="../../assets/images/sort-arrow-down.png"></h1>
      </div>

      <div class="col-25" (click)="sortByDate()"><h1 class="display-6 header-class">Date
        <img *ngIf="isDateSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isDateSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByCity()"><h1 class="display-6 header-class city-margin">City
        <img *ngIf="isCitySorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isCitySorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>

      <div class="col-2" (click)="sortByPeople()"><h1 class="display-6 header-class ">People
        <img *ngIf="isPeopleSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-up.png">
        <img *ngIf="!isPeopleSorted" class="mb-0 header-class text-dark caret"
             src="../../assets/images/sort-arrow-down.png"></h1></div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

<app-good-deeds-details [deed]="deed"
  *ngFor="let deed of participatingDeedTable.deeds | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
</app-good-deeds-details>
<div class="container align-content-end pagination-div spacing">
  <div class="d-flex justify-content-end">
    <div>
      <pagination-controls *ngIf="isListReady" class="pagination-style"
                           (pageChange)="currentPage =$event"></pagination-controls>
    </div>
    <div>
      <select *ngIf="isListReady" (change)="showItems($event.target.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>
