<div class="container">

  <form class="form-padding" [formGroup]="registerJobForm" (ngSubmit)="submitFormIfRegister()  ">

    <h1 class="h1-padding">Job registration</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">title*</label>
      <div class="col-sm-7">
        <input formControlName="title" class="form-control"  placeholder="SOS animal">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('title').touched">
      <div *ngIf="registerJobForm.get('title').hasError('required')" class="alert-danger alert">
        title field is required
      </div>
      <div *ngIf="registerJobForm.get('title').hasError('minlength')" class="alert-danger alert">
        title is too short
      </div>

      <div *ngIf="registerJobForm.get('title').hasError('maxlength')" class="alert-danger alert">
        title is too long
      </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">organization:</label>
    <div class="col-sm-7">
      <input formControlName="organization" class="form-control">
    </div>
    </div>
    <div *ngIf="registerJobForm.get('organization').touched">
      <div *ngIf="registerJobForm.get('organization').hasError('minlength')" class="alert-danger alert">
        organization field is too short
      </div>

      <div *ngIf="registerJobForm.get('organization').hasError('maxlength')" class="alert-danger alert">
        organization field is too long
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City/city*</label>
      <div class="col-sm-7">
        <input formControlName="city" class="form-control">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('city').touched">
      <div *ngIf="registerJobForm.get('city').hasError('required')" class="alert-danger alert">
        city field is required
      </div>
      <div *ngIf="registerJobForm.get('city').hasError('minlength')" class="alert-danger alert">
        city field is too short
      </div>

      <div *ngIf="registerJobForm.get('city').hasError('maxlength')" class="alert-danger alert">
        city field is too long
      </div>
      <div *ngIf="registerJobForm.get('city').hasError('pattern')" class="alert-danger alert">
        city must be only letters
      </div>
    </div>

    <h1 class="h1-padding">Contacts</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email*</label>
      <div class="col-sm-7">
        <input formControlName="emailAddress" class="form-control">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('emailAddress').touched">
      <div *ngIf="registerJobForm.get('emailAddress').hasError('required')" class="alert-danger alert">
        Email field is required
      </div>
      <div *ngIf="registerJobForm.get('emailAddress').hasError('email')" class="alert-danger alert">
        Valid email is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Contact person*</label>
      <div class="col-sm-7">
        <input formControlName="contactPerson" class="form-control" placeholder="John Cena">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('contactPerson').touched">
      <div *ngIf="registerJobForm.get('contactPerson').hasError('required')" class="alert-danger alert">
        Contact person field is required
      </div>
      <div *ngIf="registerJobForm.get('contactPerson').hasError('name')">
        Valid name is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone number*</label>
      <div class="col-sm-7">
        <input formControlName="phoneNumber" class="form-control">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('phoneNumber').touched">
      <div *ngIf="registerJobForm.get('phoneNumber').hasError('required')" class="alert-danger alert">
        Phone number is required
      </div>

      <div *ngIf="registerJobForm.get('phoneNumber').hasError('pattern')" class="alert-danger alert">
        Phone number must be valid
      </div>
    </div>

    <h1 class="h1-padding">Description</h1>


      <div class="form-group">
        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <div *ngIf="registerJobForm.get('description').touched">
      <div *ngIf="registerJobForm.get('description').hasError('maxlength')" class="alert-danger alert">
        Description field is too long
      </div>
    </div>



    <div class="form-group row">
      <label class="col-sm-2 col-form-label">tags:</label>
      <div class="col-sm-7">
        <input formControlName="tags" class="form-control" placeholder="#metoo">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('tags').touched">
      <div *ngIf="registerJobForm.get('tags').hasError('maxlength')" class="alert-danger alert">
        tags field is too long
      </div>
      <div *ngIf="registerJobForm.get('tags').hasError('pattern')" class="alert-danger alert">
        Hashtag has to start with # symbol
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-7">
        <button type="button" class="btn btn-primary" routerLink="/good-deeds" (click)="submitFormIfRegister()">Register</button>
      </div>
    </div>
  </form>

</div>
