<div class="jumbotron title-image">
  <h1 class="text-center text-white display-2">Register a deed</h1>
</div>


<div class="container">

  <form class="form-padding" [formGroup]="registerJobForm" (ngSubmit)="submitForm()  ">

    <h1 class="h1-padding">Deed registration</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title*</label>
      <div class="col-sm-7">
        <input formControlName="title" class="form-control"  placeholder="Save the squirrels">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('title').touched">
      <div *ngIf="registerJobForm.get('title').hasError('required')" class="alert-danger alert">
        Title field is required
      </div>
      <div *ngIf="registerJobForm.get('title').hasError('minlength')" class="alert-danger alert">
        Title is too short
      </div>

      <div *ngIf="registerJobForm.get('title').hasError('maxlength')" class="alert-danger alert">
        Title is too long
      </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Organization:</label>
    <div class="col-sm-7">
      <input formControlName="organization" class="form-control" placeholder="National Squirrel University">
    </div>
    </div>
    <div *ngIf="registerJobForm.get('organization').touched">
      <div *ngIf="registerJobForm.get('organization').hasError('minlength')" class="alert-danger alert">
        Organization field is too short
      </div>

      <div *ngIf="registerJobForm.get('organization').hasError('maxlength')" class="alert-danger alert">
        Organization field is too long
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City/city*</label>
      <div class="col-sm-7">
        <input formControlName="city" class="form-control" placeholder="Vilnius">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('city').touched">
      <div *ngIf="registerJobForm.get('city').hasError('required')" class="alert-danger alert">
        City field is required
      </div>
      <div *ngIf="registerJobForm.get('city').hasError('minlength')" class="alert-danger alert">
        City field is too short
      </div>

      <div *ngIf="registerJobForm.get('city').hasError('maxlength')" class="alert-danger alert">
        City field is too long
      </div>
      <div *ngIf="registerJobForm.get('city').hasError('pattern')" class="alert-danger alert">
        City must be only letters
      </div>
    </div>

    <h1 class="h1-padding">Contacts</h1>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email*</label>
      <div class="col-sm-7">
        <input formControlName="emailAddress" class="form-control" placeholder="mcsquirrel@gmail.com">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('emailAddress').touched">
      <div *ngIf="registerJobForm.get('emailAddress').hasError('required')" class="alert-danger alert">
        Email field is required
      </div>
      <div *ngIf="registerJobForm.get('emailAddress').hasError('email')" class="alert-danger alert">
        Valid email is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Contact person*</label>
      <div class="col-sm-7">
        <input formControlName="contactPerson" class="form-control" placeholder="Name Surname">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('contactPerson').touched">
      <div *ngIf="registerJobForm.get('contactPerson').hasError('required')" class="alert-danger alert">
        Contact person field is required
      </div>
      <div *ngIf="registerJobForm.get('contactPerson').hasError('name')">
        Valid name is required
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone number*</label>
      <div class="col-sm-7">
        <input formControlName="phoneNumber" class="form-control" placeholder="+37060000000">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('phoneNumber').touched">
      <div *ngIf="registerJobForm.get('phoneNumber').hasError('required')" class="alert-danger alert">
        Phone number is required
      </div>

      <div *ngIf="registerJobForm.get('phoneNumber').hasError('pattern')" class="alert-danger alert">
        Phone number must be valid
      </div>
    </div>

    <h1 class="h1-padding">Description</h1>


      <div class="form-group">
        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe what is this project about"></textarea >
      </div>
    <div *ngIf="registerJobForm.get('description').touched">
      <div *ngIf="registerJobForm.get('description').hasError('maxlength')" class="alert-danger alert">
        Description field is too long
      </div>
    </div>



    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tags:</label>
      <div class="col-sm-7">
        <input formControlName="tags" class="form-control" placeholder="#happydays">
      </div>
    </div>
    <div *ngIf="registerJobForm.get('tags').touched">
      <div *ngIf="registerJobForm.get('tags').hasError('maxlength')" class="alert-danger alert">
        Tags field is too long
      </div>
      <div *ngIf="registerJobForm.get('tags').hasError('pattern')" class="alert-danger alert">
        Hashtag has to start with # symbol
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-7">
        <button type="button" class="btn btn-primary" (click)="submitForm()">Register</button>
      </div>
    </div>
  </form>

</div>
